tr.checked{
    text-decoration: line-through;
}

#colloquiPren {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.colloqui {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 10px;
}
.colloqui table{
    width: 100%;
    text-align: center;
}

.colloqui table tr{
    width: 100%;
}

.colloqui table tr.selected{
    background-color: var(--primary-color);
    border-radius: var(--buttons-border-radius);
    box-shadow: var(--shadow-m);
}

.colloqui table td, .colloqui table th{
    margin: 1px;
    padding: 5px;
    font-size: 0.8rem;
    width: 100%;
}
.colloqui table td:nth-child(1),.colloqui table th:nth-child(1){
    width: min-content;
    border-bottom-left-radius: var(--buttons-border-radius);
    border-top-left-radius: var(--buttons-border-radius);
}
.colloqui table td:nth-child(2),.colloqui table th:nth-child(2){
    border-bottom-right-radius: var(--buttons-border-radius);
    border-top-right-radius: var(--buttons-border-radius);
}
.colloqui table td span.stu-name{
    color: black;
    width: 100%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.colloqui .elenco{
    width: 20%;
}

.colloqui .overview{
    flex: 1;
    background-color: var(--secondary-color);
    border-radius: var(--buttons-border-radius);
    position: relative;
}

.colloqui .overview .hint{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    text-align: center;
    width: 100%;
}

.colloqui .overview .info-stu .img{
    width: 20%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 100%;
    background-color: white;
    position: relative;
}
.colloqui .overview .info-stu .img img{
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 100%;
}

.colloqui .overview .info-stu .img .gold{
    outline: 10px solid gold;
}
.colloqui .overview .info-stu .img:has(.gold)::after{
    content: "Developer";
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    pointer-events: none;
    cursor: pointer;
    background-color: #005eff;
    border-radius: var(--buttons-border-radius);
    padding: 10px;
    font-size: 1rem;
    box-shadow: var(--shadow-m);
}

.evento-colloquio{
    font-size: 20px;
    font-weight: 500;
}

.stu-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info-stu {
    position: relative;
    display: none;
    width: 100%;
    text-align: left;
    font-size: 18px;
    padding: 2rem;
    gap: 2rem;
    background-color: var(--secondary-color);
    border-radius: var(--buttons-border-radius);
    z-index: 2;
    flex-direction: row;
}
.info-stu.expanded {
    display: flex;
}
.info-stu .dati{
    flex:1;
}
.info-stu p {
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.stu-name button{
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.info-stu p span {
    font-weight: 600;
}

.info-stu a {
    /* color: var(--primary-color); */
    text-decoration: underline;
}

.colloqui .overview .backbt{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    padding: 0;
    cursor: pointer;
    z-index: 3;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: none;
    outline: none;
}
.colloqui .overview .backbt span{
    padding: 0;
}

.colloqui .overview .feedbackForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    margin-top: 20px;
}

.colloqui .overview .feedbackForm textarea{
    resize: none;
    width: 100%;
    padding: 20px;
    border-radius: var(--buttons-border-radius);
    border: none;
    outline: none;
    height: 100px;
    background-color: var(--secondary-color);
}
.colloqui .overview .feedbackForm textarea:focus{
    outline: 1px solid var(--primary-color);
}
.colloqui input[type="submit"]{
    border: none;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
    border-radius: var(--buttons-border-radius);
    padding: 10px;
}

.rating-container, .feedback{
    width: 100%;
    background-color: white;
    border-radius: var(--buttons-border-radius);
    padding: 20px;
    margin-top: 20px;
}
.star-rating {
    display: inline-block;
    color: var(--primary-a30); 
    cursor: pointer;
    user-select: none;
}

.star-rating .star {
    display: inline-block;
    padding: 0 5px; /* Spazio tra le stelline */
    font-size: 2rem;
}

.star-rating .star:hover,.star-rating .star.selected {
    font-variation-settings:
        'FILL'1;
    color: var(--primary-color)
}
.rating-container form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.rating-value {
    margin-top: 15px;
    font-size: 1.2em;
    color: #555;
}


#selectEvent, #searchBar, #selectPosition{
    width: 100%;
    font-size: 1rem;
    border: 0;
    outline: 1px solid var(--secondary-color);
    border-radius: var(--buttons-border-radius);
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
}
#selectEvent:focus, #searchBar:focus, #selectPosition:focus{
    outline: 1px solid var(--primary-color);
}
.onlyCompletedCheck{
    display: flex;
    align-items: end;
    justify-content: start;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}
#onlyCompleted{
    width: fit-content;
    display: inline-block;
}

@media screen and (max-width: 1000px) {
    .stu-name button{
        display: none;
    }
    .colloqui .elenco{
        width: 100%;
    }
    .colloqui .overview{
        display: none;
    }
    .colloqui .overview.expanded{
        display: block;
    }
    .colloqui .elenco.collapsed{
        display: none;
    }
    .colloqui .overview .info-stu{
        flex-direction: column;
        align-items: center;
    }
    .colloqui .overview .info-stu .dati{
        width: 100%;
    }
    .colloqui .overview .info-stu .img{
        width: 50%;
    }
    .colloqui .overview .backbt{
        display: block;
    }
    .colloqui .overview .info-stu .img:has(.gold)::after{
        right: -10%;
        font-size: 50%;
    }
}