.event{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.event.company {
    flex-direction: row;
}

.event.company .event-main{
    width: 60%;
}

.event .event-main{
    width: calc(100% - 4rem - 40px);
    padding-inline: calc(2rem + 20px);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
}

.event .event-qr  {
    width: 40%;
}
.event .event-qr img {
    width: 100%;
    aspect-ratio: 1;
}
.event .event-qr form{
    width: 100%;
    display: flex;
    justify-content: center;
}
.event .event-qr input[type="submit"]{
  background-color: var(--primary-color);
  border: none;
  color: var(--text-color);
  font-weight: bold;
  cursor: pointer;
  border-radius: var(--buttons-border-radius);
  padding:20px;
  padding-inline: 30px;
  font-size: 20px;
  height: fit-content;
}
.event .event-title{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    gap:20px;
}

.event .event-title span{
    font-size: 2em;
}
.event .event-title p{
    font-size: 2rem;
    font-weight: 600;
}

.event .event-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 1.2rem
}

.event .event-info .event-date{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.event .event-info .event-loc{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    /* font-size: 20px; */
}
.event .event-info .event-location{
    font-size: 1.2rem;
}
.event .event-desc{
    font-size: 1.2rem
}

.event-participants{
    width: 100%;
}

.event-participants p {
    font-size: 32px;
    font-weight: 600;
}
.event-participants .participants {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
    flex-wrap: wrap;
}
.event-participants .participants .participant {
    margin-top: 20px;
    width: 30%;
    max-width: 400px;
    border: 1px solid var(--primary-color);
    border-radius: var(--buttons-border-radius);
    padding: 10px;
}

.event-participants .participants .participant p{
    font-size: 20px;
    font-weight: 400;
}
.event-participants .participants .participant img{
    background-color: lightgray;
    width: 100%;
    border-radius: var(--buttons-border-radius);
}

@media screen and (max-width: 600px){
    .event-participants .participants .participant{
        width: calc(100% - 20px);
    }
}

@media screen and (max-width: 1000px) and (min-width: 601px){
    .event-participants .participants .participant{
        width: 45%;
    }
}

@media screen and (max-width: 1000px){
    .event-participants .participants{
        flex-direction: column;
    }
    .event .event-info{
        flex-direction: column;
        align-items: start;
        gap: 5px;
    }
}