.home-container{
    width: calc(100% - 40px);
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.navbar{
    width: 100%;
    height: fit-content;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .left-side{
    height: 60px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    font-size: 29px;
}

.navbar .left-side p{
    font-size: 1.5rem;
}
.navbar .logo{
    height: 100%;
}

.navbar .right-side{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    font-weight: 300;
    font-size: 2rem;
}
.navbar .right-side span {
    font-weight: 500;
}
.navbar .right-side a{
    height: 100%;
    aspect-ratio: 1;
}

.navbar .right-side .suggestion{
    position: absolute;
    font-size: 16px;
    width: 300px;
    font-weight: 200;
    text-align: center;
    bottom: -40px;
    left: -270px;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 30px;
}
.navbar .right-side .profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.navbar .right-side .user-pic {
    position: relative;
    width: 60px;          
    height: 60px;         
    border-radius: 50%;
    background-color:var(--secondary-color);
    overflow: visible;
}

.navbar .right-side .user-pic img {
    width: 100%;          
    height: 100%;         
    object-fit: cover;    
    display: block;       
    border-radius: 50%;
}
.navbar .right-side .user-pic .suggestion img{
    height: 100%;
    margin-left: 10px;
    border-radius: 0;
    width: auto;
}

.navbar .middle-nav{
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.navbar .middle-nav .nav-page p{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.navbar .middle-nav .nav-page{
    height: 100%;
    position: relative;
    /* border-top-left-radius: var(--buttons-border-radius);
    border-top-right-radius: var(--buttons-border-radius); */
    padding-inline: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar .middle-nav .nav-page.selected{
    /* background-color: var(--primary-color); */
    text-decoration: underline;
}

/* .navbar .middle-nav .nav-page.selected::after{
    display: block;
    position: absolute;
    content: "";
    width: calc(2 * var(--buttons-border-radius));
    height: calc(2 * var(--buttons-border-radius));
    bottom: 0;
    right: -20px;
    border-radius: 0 0 0 var(--buttons-border-radius);
    -moz-border-radius: 0 0 0 var(--buttons-border-radius);
    -webkit-border-radius: 0 0 0 var(--buttons-border-radius);

    -webkit-box-shadow: calc(-1* var(--buttons-border-radius)) 0 0 0 var(--primary-color);
    box-shadow: calc(-1* var(--buttons-border-radius)) 0 0 0 var(--primary-color);
}

.navbar .middle-nav .nav-page.selected::before{
    display: block;
    position: absolute;
    content: "";
    width: calc(2 * var(--buttons-border-radius));
    height: calc(2 * var(--buttons-border-radius));
    bottom: 0;
    left: -20px;
    border-radius: 0 0 var(--buttons-border-radius) 0;
    -moz-border-radius: 0 0 var(--buttons-border-radius) 0;
    -webkit-border-radius: 0 0 var(--buttons-border-radius) 0;

    -webkit-box-shadow: calc(var(--buttons-border-radius)) 0 0 0 var(--primary-color);
    box-shadow: calc(var(--buttons-border-radius)) 0 0 0 var(--primary-color);
} */


section{
    margin-top: 40px;
    width: 100%;
}

.scrollable-container{
    width: 100%;
    height: fit-content;
    margin-top: 20px;
    overflow-y: auto;
    display: flex;
    gap: 20px;
}

.scrollable-container.company{
    flex-wrap: wrap;
}

.scrollable-container .element{
    position: relative;
    width: 100%;
    max-width: 350px;
    aspect-ratio: 1.75;
    background-color: lightgrey;
    cursor: pointer;
    border-radius: var(--buttons-border-radius);
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    border: 1px solid var(--primary-color);
}

.scrollable-container .element img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--buttons-border-radius);
    object-fit: cover;
}

.scrollable-container .element span{
    /* width: 100%;
    height: 100%; */
    margin: auto;
    font-size: 50px;
    border-radius: var(--buttons-border-radius);
    object-fit: cover;
}

.scrollable-container .element p{
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 500;
    z-index: 1;
}

.logout{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-icon{
    font-size: 30px;
}


@media screen and (max-width: 1000px){
    .navbar {
        /* flex-direction: column; */
        height: fit-content;
        margin-bottom: 40px;
    }
    .navbar .left-side p {
        display: none;
    }
    .navbar .left-side img{
        height: 100%;
        max-width: 80%;
    }
    .navbar
    .navbar .right-side .profile{
        gap:0;
    }
    .navbar .right-side p, .navbar .right-side .suggestion, .navbar .right-side span{
        display: none;
    }
    
}