.home-container{
    width: calc(100% - 40px);
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.navbar{
    width: 100%;
    height: fit-content;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .left-side{
    height: 60px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    font-size: 29px;
}
.navbar .logo{
    height: 100%;
}

.navbar .right-side{
    position: relative;
    width: fit-content;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    font-weight: 300;
    font-size: 29px;
}
.navbar .right-side span {
    font-weight: 500;
}
.navbar .right-side a{
    height: 100%;
    aspect-ratio: 1;
}

.navbar .right-side .suggestion{
    position: absolute;
    font-size: 16px;
    /* width: 100%; */
    font-weight: 200;
    text-align: center;
    bottom: -45px;
    right: 30px;
}

.navbar .right-side .user-pic{
    height: 100%;
    aspect-ratio: 1;
    background-color: grey;
    border-radius: 50%;
}

.navbar .middle-nav{
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.navbar .middle-nav .nav-page p{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.navbar .middle-nav .nav-page{
    height: 100%;
    position: relative;
    /* border-top-left-radius: var(--buttons-border-radius);
    border-top-right-radius: var(--buttons-border-radius); */
    padding-inline: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar .middle-nav .nav-page.selected{
    /* background-color: var(--primary-color); */
    text-decoration: underline;
}

/* .navbar .middle-nav .nav-page.selected::after{
    display: block;
    position: absolute;
    content: "";
    width: calc(2 * var(--buttons-border-radius));
    height: calc(2 * var(--buttons-border-radius));
    bottom: 0;
    right: -20px;
    border-radius: 0 0 0 var(--buttons-border-radius);
    -moz-border-radius: 0 0 0 var(--buttons-border-radius);
    -webkit-border-radius: 0 0 0 var(--buttons-border-radius);

    -webkit-box-shadow: calc(-1* var(--buttons-border-radius)) 0 0 0 var(--primary-color);
    box-shadow: calc(-1* var(--buttons-border-radius)) 0 0 0 var(--primary-color);
}

.navbar .middle-nav .nav-page.selected::before{
    display: block;
    position: absolute;
    content: "";
    width: calc(2 * var(--buttons-border-radius));
    height: calc(2 * var(--buttons-border-radius));
    bottom: 0;
    left: -20px;
    border-radius: 0 0 var(--buttons-border-radius) 0;
    -moz-border-radius: 0 0 var(--buttons-border-radius) 0;
    -webkit-border-radius: 0 0 var(--buttons-border-radius) 0;

    -webkit-box-shadow: calc(var(--buttons-border-radius)) 0 0 0 var(--primary-color);
    box-shadow: calc(var(--buttons-border-radius)) 0 0 0 var(--primary-color);
} */


section{
    margin-top: 40px;
    width: 100%;
}

.scrollable-container{
    width: 100%;
    height: fit-content;
    margin-top: 20px;
    overflow-y: auto;
    display: flex;
    gap: 20px;
}

.scrollable-container.company{
    flex-wrap: wrap;
}

.scrollable-container .element{
    width: 350px;
    height: 200px;
    background-color: lightgrey;
    cursor: pointer;
    border-radius: var(--buttons-border-radius);
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

.scrollable-container .element img{
    width: 100%;
    height: 100%;
    border-radius: var(--buttons-border-radius);
    object-fit: cover;
}

.scrollable-container .element span{
    /* width: 100%;
    height: 100%; */
    margin: auto;
    font-size: 50px;
    border-radius: var(--buttons-border-radius);
    object-fit: cover;
}

.scrollable-container .element p{
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 500;
}