.posizioni-container{
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
}

.posizioni-container .posizione{
    /* outline: 3px solid var(--primary-color); */
    background-color: lightgrey;
    border-radius: var(--buttons-border-radius);
    padding: 20px;  
}

.posizione{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.add-position-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
}

.add-position-form input{
    border-radius: var(--buttons-border-radius);
    padding: 10px;
    height: fit-content;
    width: 100%;
    outline: none;
    border: none;
    font-weight: 600;
}

.add-position-form input[type="submit"]{
    width: fit-content;
    margin: 0;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    background-color: var(--primary-color);
}

.add-position-form textarea{
    border-radius: var(--buttons-border-radius);
    padding: 10px;
    height: 100px;
    resize: none;
    width: 100%;
    outline: none;
    border: none;
}
.add-position-form textarea:focus, .add-position-form input:focus{
    outline: 1px solid var(--primary-color);
}

.delete-position-form{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}

.delete-position-form input{
    height: fit-content;
    margin: 0;
    border-radius: var(--buttons-border-radius);
    background-color: red;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
}