
.container_reset_pwd {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin:auto;
}

.container_reset_pwd h1 {
    text-align: center;
    color: black;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
}

.container_reset_pwd .logo{
    display: block;
    width: 100%;
    max-width: 100px;
    margin: auto;
}

.container_reset_pwd .logo img{
    width: 100%;
}


.form_container_reset_pwd {
    padding: 1px;
}

.form_reset_pwd {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap:10px;
}

.form_container_reset_pwd .error{
    text-align: center;
    padding-top: 20px;
}

.form_container_reset_pwd input[type="password"] {
    width: calc(100% - 14px);
    text-align: left;
	padding: 7px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    background-color: lightgrey;
}

.form_container_reset_pwd input[type="password"]:focus {
    outline: none;
    border-color: var(--primary-color);
}

.form_container_reset_pwd input[type="submit"] {
    width: 100%;
    background-color: orange;
    color: black;
    padding: 7px;
    border: none;
    border-radius: var(--buttons-border-radius);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 500;
}

