.title-bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    gap:20px;
}

.title-bar span{
    font-size: 40px;
}
.title-bar p{
    font-size: 40px;
    font-weight: 600;
}

form{
    width: 100%;
    margin-top: 40px;
}

.card {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap:20px;
}
.card .side{
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap:20px;
}
.card .side .inputs{
    height: 100%;
    width: 100%;
    /* float: right; */
    display: flex;
    flex-direction: column;
    gap:10px;
}
.card .side .inputs p{
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card .side .img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color:var(--secondary-color);
}

.card .side.additional{
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap:0;
}

.card .side.additional h1{
    margin: 0;
    margin-bottom: 20px;
}

.card .side .img img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
}

.card input {
    width: 200px;
    height: 30px;
  border:none;
  border-radius: var(--buttons-border-radius);
  background-color: lightgrey;
  height: 30px;
  padding-inline: 10px;
}
.links {
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.links-section {
    width: calc(50% - 10px);
    /*margin: 80px 40px;*/
}

.links-section h3 {
    font-size: 22px;
    margin-bottom: 20px;
}

.links-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

.links-section input {
    width: 400px;
    height: 30px;
    border: none;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 0 10px;
    margin-bottom: 15px;
}

.links-section .link-item {
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

input[type="submit"]{
    height: 45px;
    background-color: rgb(50, 184, 68);
    border: none;
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 30px;
}
