root{
  --primary-color(rgba(245,245,245,1));
  --secondary-color(rgba(90,90,90,1));
  --tertiary-color(rgba(250,160,0,1));
  --text-color(rgb(0,0,0));
  --text-size(12px);
  --title-size(18px);
}

body.darkmode{
  --primary-color(rgba(10,10,10,1));
  --secondary-color(rgba(165,165,165,1));
  --text-color(rgb(255,255,255));
}

body{
  margin: 0;
  padding: 0;
  folt-family: "inter";
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

p{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  margin: 0;
  padding: 0;
}
