/*stylesheet principale*/
:root {
  --primary-color: rgba(250,160,0,1);
  --secondary-color: lightgrey;
  --text-color: rgb(0,0,0);
  --background-color: rgb(255,255,255);
  --text-size: 12px;
  --title-size: 18px;
  --buttons-border-radius: 10px;
  --icon-color-1: rgb(100,100,100);
  --icon-color-2: rgb(0,0,0);
  --error-color: rgb(255,0,0);
  --success-color: rgb(0,200,0);

  --primary-a10: #d0830e;
  --primary-a20: #a36813;
  --primary-a30: #794e14;
  --primary-a40: #503512;
  --primary-a50: #2b1e0d;

  font-family: "Inter",sans-serif;
  /*user-select: none;*/

  --shadow-s: inset 0 1px 2px #ffffff30, /* top highlight */ 0 1px 2px #00000030,
    /* dark shadow */ 0 2px 4px #00000015; /* soft shadow */
  --shadow-m: inset 0 1px 2px #ffffff50, /* top highlight */ 0 2px 4px #00000030,
    /* dark shadow */ 0 4px 8px #00000015; /* soft shadow */
  --shadow-l: inset 0 1px 2px #ffffff70, /* top highlight */ 0 4px 6px #00000030,
    /* dark shadow */ 0 6px 10px #00000015; /* soft shadow */
}

.shadow-s {
  box-shadow: var(--shadow-s);
}
.shadow-m {
  box-shadow: var(--shadow-m);
}
.shadow-l {
  box-shadow: var(--shadow-l);
}

body.darkmode {
  --primary-color: rgba(250,160,0,1);
  --secondary-color: darkgrey;
  --text-color: rgb(255,255,255);
  --background-color: rgb(0,0,0);
  --icon-color-1: rgb(155,155,155);
  --icon-color-2: rgb(255,255,255);
}

img{
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  font-family: "inter";
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

p{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

textarea{
  font-family: "Inter",sans-serif;
}

.error{
  color: red;
}
.success{
  color:green
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.dark-mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: var(--text-color)
}

main{
  flex:1;
  display: flex;
}

footer{
  padding: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
}

footer a{
  text-decoration: underline;
  color:black;
}

@media  screen and (max-width: 1000px) {
  footer{
    flex-direction: column;
    gap: 20px;
  }
}

*{
  box-sizing:border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
}