/*stylesheet principale*/
:root {
  --primary-color: rgba(250,160,0,1);
  --secondary-color: lightgrey;
  --text-color: rgb(0,0,0);
  --background-color: rgb(255,255,255);
  --text-size: 12px;
  --title-size: 18px;
  --buttons-border-radius: 10px;
  --icon-color-1: rgb(100,100,100);
  --icon-color-2: rgb(0,0,0);

  font-family: "Inter",sans-serif;
  /*user-select: none;*/
}

body.darkmode {
  --primary-color: rgba(250,160,0,1);
  --secondary-color: darkgrey;
  --text-color: rgb(255,255,255);
  --background-color: rgb(0,0,0);
  --icon-color-1: rgb(155,155,155);
  --icon-color-2: rgb(255,255,255);
}

img{
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  font-family: "inter";
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

p{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

.error{
  color: red;
}
.success{
  color:green
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.dark-mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

main{
  flex:1;
}

footer{
  padding: 3rem;
  width: calc(100% - 6rem);
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
}

footer a{
  text-decoration: underline;
}