RewriteEngine On
RewriteBase /

# --- Routing interno se il file o la directory non esistono ---
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /php/index.php [L,QSA]
RewriteRule ^$ /php/index.php [R=302,L]

# --- BLOCCA cartelle specifiche ---
RewriteCond %{REQUEST_URI} ^/static/pfp/ [OR]
RewriteCond %{REQUEST_URI} ^/static/qrcodes/
RewriteRule ^ - [F,L]

# --- PERMETTI solo le sezioni autorizzate ---
RewriteCond %{REQUEST_URI} ^/php/index\.php$ [OR]
RewriteCond %{REQUEST_URI} ^/php/politica_privacy\.php$ [OR]
RewriteCond %{REQUEST_URI} ^/manifest\.json$ [OR]
RewriteCond %{REQUEST_URI} ^/static/ [OR]
RewriteCond %{REQUEST_URI} ^/css/ [OR]
RewriteCond %{REQUEST_URI} ^/js/
RewriteRule ^ - [L]

# --- BLOCCA tutto il resto ---
RewriteRule ^ - [F,L]



# av:PHP-upload
php_value upload_max_filesize 20M
php_value post_max_size 20M
php_value max_input_time 300
# PHP-upload

# # av:php5-engine
AddHandler av-php84 .php
